
<footer class="fixed-bottom navbar-light bg-light">
  <div class="footerContainer">
    <div class="row">
      <div class="col-lg-10 d-none  d-lg-block text-right ">
        <a href="https://angular.io/" target="TechnologyUsed"><img src="https://angular.io/assets/images/favicons/favicon.ico" alt="Angular" width="24px"/></a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://getbootstrap.com/" target="TechnologyUsed"><img src="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon.ico" alt="Bootstrap" width="24px"/></a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://giphy.com/" target="TechnologyUsed"><img src="https://giphy.com/static/img/favicon.png" alt="Giphy"  width="24px"/></a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://spring.io/" target="TechnologyUsed"><img src="https://spring.io/images/favicon.ico" alt="Spring Boot Cloud" width="24px"/></a>
        &nbsp;&nbsp;
        <a href="https://www.mysql.com/" target="TechnologyUsed"><img src="https://labs.mysql.com/common/themes/sakila/favicon.ico" alt="MySQL Server" width="24px"/></a>
        &nbsp;&nbsp;
        <a href="https://www.mongodb.com/" target="TechnologyUsed"><img src="https://www.mongodb.com/assets/images/global/favicon.ico" alt="Mongo DB" width="24px"/></a>
        
        &nbsp;&nbsp;
        <a href="https://www.docker.com/" target="TechnologyUsed"><img src="https://www.docker.com/sites/default/files/d8/Docker-R-Logo-08-2018-Monochomatic-RGB_Moby-x1.png" alt="Docker Engine" width="24px"/></a>
        &nbsp;&nbsp;
        <a href="https://docs.gitlab.com/runner/" target="TechnologyUsed"><img src=" https://docs.gitlab.com/assets/images/docs-runner.svg" alt="Gitlab & Runner" width="24px"/></a>
        &nbsp;&nbsp;
      </div>
      <div class="col-lg-2 text-right">
        &copy; L.GANESH <img *ngIf="processing" src="./assets/images/Rainbow.gif" width="24"/> 
        &nbsp;
        <img *ngIf="processing == false" src="./assets/images/image1.png" width="24"/>
      </div>
    </div>
  </div>
    
</footer>